* {
    box-sizing: border-box;
}

.div-1{
    background: skyblue;
    border: 15px solid brown;
    margin: 20px;
    padding: 50px;
    width: 300px;
}

.div-2{
    background: lightblue;
    border: 5px outset red;
    text-align: center;
}

.div-3{
    color: blueviolet;
    font-size: 42px;
    font-weight: bold;
}

#span-big{
    font-size: 25px;
}

.div-3-1 div{
    display: inline;
    margin: 0 5px 0 5px;
}

#p-purple{
    color: blueviolet;
    display: block;
}